# OS
.DS_Store

# NPM
.npm
node_modules/
*.tgz
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TypeScript building
build/
docs/

# Testing & Quality
reports/
.scannerwork

# IDEs
.idea/
.nova/

# dotenv environment variables file
.env*
